@import '../../scss/colors';
.comic-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .comic-container__image {
        object-fit: contain;
        width: 400px;
        border-radius: 12px;
        -webkit-box-shadow: 5px 3px 15px 5px $color-opacity-06;
        box-shadow: 5px 3px 15px 5px $color-opacity-06;
    }
}

.container-stars {
    display: flex;
    border-radius: 12px;
    box-shadow: 5px 3px 15px 5px rgb(0 0 0 / 25%);
    margin-bottom: 10px;
}